/*color1: #c65353
rgb(213, 127, 127)
"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
*/

html,body {
  font-family: Arial, sans-serif;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}
h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}
#hide-listings,
#show-listings {
  width: 48%;
}
#map {
  bottom:0px;
  height: 100%;
  width: 95%;
  padding-left: 5px;
  left: 362px;
  position: absolute;
  right: 0px;
}
.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 35px;
  text-align: left;
  height: 100%;
  width: 340px;
}