
.clearAfter:after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heart-loader {
  overflow: visible !important;
  position: relative;
  left: 55px;
}
.heart-loader__group {
  -webkit-transform-origin: 0 90px;
          transform-origin: 0 90px;
  -webkit-animation: group-anim 5s 1s 1 normal ease-in forwards;
          animation: group-anim 5s 1s 1 normal ease-in forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.heart-loader__square {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 240, 240;
  stroke-dashoffset: 240;
  -webkit-animation: square-anim 5s 1s 1 normal ease-in forwards;
          animation: square-anim 5s 1s 1 normal ease-in forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.heart-loader__circle {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 188.522, 188.522;
  stroke-dashoffset: 188.522;
  -webkit-transform-origin: 60px 30px;
          transform-origin: 60px 30px;
}
.heart-loader__circle.m--left {
  -webkit-animation: left-circle-anim 5s 1s 1 normal ease-in forwards;
          animation: left-circle-anim 5s 1s 1 normal ease-in forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.heart-loader__circle.m--right {
  -webkit-animation: right-circle-anim 5s 1s 1 normal ease-in forwards;
          animation: right-circle-anim 5s 1s 1 normal ease-in forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.heart-loader__heartPath {
  stroke: #E74D68;
  stroke-width: 2px;
  fill: transparent;
  stroke-dasharray: 308.522, 308.522;
  stroke-dashoffset: 308.522;
  -webkit-animation: heart-anim 5s 1s 1 normal ease-in forwards;
          animation: heart-anim 5s 1s 1 normal ease-in forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@-webkit-keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
}
@-webkit-keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
}
@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  43% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
}
@-webkit-keyframes group-anim {
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  54% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  90% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
  97% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
}
@keyframes group-anim {
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  54% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  90% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
  97% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 1;
  }
}
@-webkit-keyframes heart-anim {
  55% {
    stroke-dashoffset: 308.522;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  87% {
    stroke-dashoffset: 0;
    fill: #E74D68;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #E74D68;
  }
}
@keyframes heart-anim {
  55% {
    stroke-dashoffset: 308.522;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  87% {
    stroke-dashoffset: 0;
    fill: #E74D68;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #E74D68;
  }
}

/*SHAKE ANIMATION*/
.shake {
  -webkit-animation: spaceboots 0.8s 5s 2 normal linear;
  animation: spaceboots 0.8s 5s 2 normal linear;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


/*HEART BEAT ANIMATION*/

@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-o-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}

/* Styles for old versions of IE */
.heartbeat {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  -khtml-animation: heartbeat 1300ms ease 0s infinite normal;
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  -ms-animation: heartbeat 1300ms ease 0s infinite normal;
  -o-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.heartbeat:not(:required):after, .heartbeat:not(:required):before {
  position: absolute;
  content: "";
  background: #e87;
}
.heartbeat:not(:required):before {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.heartbeat:not(:required):after {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}

.sticker-overlay {
  -webkit-transition: width 5s; /* Safari */
  transition: width 5s;
}

/*ARROWS STYLE*/

.arrow-holder {
  position: relative;
  height: 50px;
  width: 500px;
}

.arrow {
  float: left;
  margin-right: 15px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.arrow-right {
  border-left: 15px solid #0CA4E5;
}

.arrow-left {
  border-right: 15px solid #0CA4E5;
}

@-webkit-keyframes flash {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

#arrow4 {
  -webkit-animation: flash 2s infinite 0.5s;
}

#arrow5 {
  -webkit-animation: flash 2s infinite 1s;
}

/*TAD BANNER TRANSITION*/
.tad-banner-enter, .tad-banner-appear {
    visibility: hidden !important;
}

.tad-banner-enter-active, .tad-banner-appear-active {
    visibility: visible !important;
    animation-name: tadBannerSlideRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.tad-banner-leave {
    animation-name: tadBannerSlideLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes tadBannerSlideRight {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }   
}

@keyframes tadBannerSlideLeft {      
    100% {
        transform: translateX(-150%);
    }
}

/*AFTER LOADED HEART BEAT */

/* :not(:required) hides this rule from IE9 and below */
.after-loaded-heartbeat:not(:required) {
  -webkit-animation: simpleHeartbeat 1500ms linear 5s infinite normal;
  -khtml-animation: simpleHeartbeat 1500ms linear 5s infinite normal;
  -moz-animation: simpleHeartbeat 1500ms linear 5s infinite normal;
  -ms-animation: simpleHeartbeat 1500ms linear 5s infinite normal;
  -o-animation: simpleHeartbeat 1500ms linear 5s infinite normal;
  animation: simpleHeartbeat 1500ms linear 5s infinite normal;
}

@-webkit-keyframes simpleHeartbeat {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
@-moz-keyframes simpleHeartbeat {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
@-o-keyframes simpleHeartbeat {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
@keyframes simpleHeartbeat {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

/*SHAKE ANIMATION*/
.zoom-shake {
  -webkit-animation: zoomAndshake 2.5s 1s 1 forwards linear;
  animation: zoomAndshake 2.5s 1s 1 forwards linear;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform: scale(0);
}

@-webkit-keyframes zoomAndshake {
  0% { opacity: 1; -webkit-transform: scale(0); }
  10% { opacity: 1; -webkit-transform: scale(1); }
  20% { opacity: 1; -webkit-transform: translate(2px, 1px) rotate(0deg); }
  25% { opacity: 1; -webkit-transform: translate(-1px, -2px) rotate(-5deg); }
  30% { opacity: 1; -webkit-transform: translate(-3px, 0px) rotate(5deg); }
  35% { opacity: 1; -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { opacity: 1; -webkit-transform: translate(1px, -1px) rotate(5deg); }
  45% { opacity: 1; -webkit-transform: translate(-1px, 2px) rotate(-5deg); }
  50% { opacity: 1; -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  55% { opacity: 1; -webkit-transform: translate(2px, 1px) rotate(-5deg); }
  60% { opacity: 1; -webkit-transform: translate(-1px, -1px) rotate(5deg); }
  65% { opacity: 1; -webkit-transform: translate(2px, 2px) rotate(0deg); }
  70% { opacity: 1; -webkit-transform: translate(1px, -2px) rotate(-5deg); }
  100% { opacity: 0; -webkit-transform: translate(1px, -2px) rotate(0deg); scale(1); }
}

/*SHAKE ANIMATION*/
.zoom {
  -webkit-animation: zoom 2.5s 1s 1 forwards linear;
  animation: zoom 2.5s 1s 1 forwards linear;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform: scale(0);
}

@-webkit-keyframes zoom {
  0% { opacity: 1; -webkit-transform: scale(0); }
  10% { opacity: 1; -webkit-transform: scale(1); }
  20% { opacity: 1; -webkit-transform: scale(1); }
  30% { opacity: 1; -webkit-transform: scale(1); }
  40% { opacity: 1; -webkit-transform: scale(1); }
  50% { opacity: 1; -webkit-transform: scale(1); }
  60% { opacity: 1; -webkit-transform: scale(1); }
  70% { opacity: 1; -webkit-transform: scale(1); }
  80% { opacity: 1; -webkit-transform: scale(1); }
  90% { opacity: 1; -webkit-transform: scale(1); }
  100% { opacity: 0; -webkit-transform: scale(1); }
}

/*ANIMATED BUTTOM*/

.animated-btn {
  outline: none;
  border: none;
  padding: 10px;
  display: block;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  border: 2px solid #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.three {
  color: #fff;
  border-color: transparent;
}

.three:before {
  width: 0;
  height: 3px;
  content: " ";
  background-color: #c4172c;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.three:after {
  width: 0;
  height: 3px;
  content: " ";
  background-color: #c4172c;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  top: 100%;
}

.three:hover {
  letter-spacing: 8px;
  color: #c4172c;
}

.three:hover:before {
  width: 100%;
  left: 0;
}

.three:hover:after {
  width: 100%;
  left: 0;
}

.fade-in {
    opacity: 0.01;
}

.fade-in.loaded {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.hide {
    opacity: 0;
}

.show {
  opacity: 1;
}

.five {
  overflow: hidden;
  color: #fff;
}
.five .layer {
  color: #fff;
  position: absolute;
  top: -100px;
  width: 100%;
  left: 0;
  padding: 10px 0;
  background-color: #c4172c;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  height: 100%;
}
.five:hover .layer {
  top: 0;
  line-height: 20px;
}



